<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://cdn.jsdeliver.net/npm/vue"></script>
</head>
</html>
<body>
<main>
<h1> Taller #1</h1>
	<form @submit.prevent="createUser">
	<table>
		<thead>
		</thead>
			<tbody>
			<tr><td>Nombre:</td><td><input type="text" placeholder="Nombre" v-model="objUser.nombre"/></td></tr>
			<tr><td>Cedula:</td><td><input type="text" placeholder="Cedula" v-model="objUser.cedula"/><td></tr>
			<tr><td>Telefono:</td><td><input type="text" placeholder="Telefono" v-model="objUser.telefono"/></td></tr>
			<tr><td>Edad:</td><td><input type="text" placeholder="Edad" v-model="objUser.edad"/></td></tr>
			<tr><td></td><td><input type="submit" value="GUARDAR"/></td></tr>
			<!--		
			<tr v-for="(item, idx) in users">
				<td>{{item.nombre}}</td>
				<td>{{item.apellido}}</td>
			</tr> -->
			</tbody>	
			</table>
	</form>

	
	<h1>Listado datos Alfabeticamente</h1>
	<table border="1">
		<thead>
			<th> NOMBRE</th>
			<th> CEDULA</th>
			<th> TELEFONO</th>
			<th> EDAD</th>
			<th> CIUDADANIA</th>
		</thead>
			<tbody>
				<tr v-for="(item, idx) in users">
				<td>item.nombre</td>
				<td>{{item.cedula}}</td>
				<td>{{item.telefono}}</td>
				<td>{{item.edad}}</td>
				<td><b v-if ="item.edad && item.edad > 18">MAYOR</b>
					<b style="color:red;" v-else>MENOR DE EDAD</b>
				</td>


<!-- <b v-if ="nota && nota>6 && nota<=10">APROBADO</b>
	<b v-ielse-if ="nota && nota>10">FUERA DE RANGO</b>
	<b v-ielse>REPROBADO</b>			
-->
			</tr>
			</tbody>	
			</table>
</main>
</body>
<script type="text/javascript">
	new Vue ({
		el:'main',
		data:{
		 users:[
			 ],

			 objUser:{'nombre':null,'cedula':null,'telefono':null,'edad':null}
			},
			methods:{
				createUser(){
					this.users.unshift(this.objUser);
					this.orderUser;
					this.objUser={'nombre':null,'apellido':null};
					
				}
			},
			computed:{
				orderUser(){
					return this.users.sort(function(a,b){
					if (a.nombre > b.nombre){
						return 1;
					}
					if (a.nombre < b.nombre){
					return -1;
					}
					return 0;
				});
				}
			}
		});
	</script>

	